# Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

f3d
f3d2obj
mio0
mio0.d
mipsdisasm
mipsdisasm.d
n64cksum
n64graphics
n64graphics.d
n64split
obj/
sm64compress
sm64extend
sm64geo
sm64walk
sm64walk.d
